
body {
    height: 100vh;
    margin: 0px;
    background-color: rgb(85, 197, 241) !important;
}

.cont-main {
    background-color: rgb(85, 197, 241);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.question-footer {
    border-top: 1px solid rgba(0,0,0,0.25);
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quiz-card {
  width:  23rem !important;
}
.quiz-answer-card :hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);

}
